html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f8f8f9;
}

/* Home */

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 0;
    z-index: 0;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/hero-image.jpg');
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.t-half {
    background-color: rgba(10, 0, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.c-wrap {
    display: flex;
    flex-direction: column;
}

.large {
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: #fa6800;
}

.white-text {
    color: #ddd;
}

.logo-text {
    font-family: 'Arimo', sans-serif;
    color: #ddd;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .025em;
}

.btn, .btn-light {
    padding: .5rem 2rem;
}

/* Navbar */

nav {
    background-color: #232323;
    height: 60px;
}

.nav-link {
    font-family: 'Arimo', sans-serif;
    color: white;
    font-size: .95rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .1em;
    text-decoration: none;
    padding: .3rem;
}

.nav-item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* About */

#about {
    padding: 6rem 0 5rem 0;
    background-color: white;
}

.heading-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.heading, .heading2 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.65rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #232323;
    margin-bottom: 0.5rem;
    letter-spacing: .075em;
}

.heading2 {
    font-size: 1.4rem;
    color: white;
}

.heading3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    font-weight: 550;
    color: #fa6800;
}

.heading4 {
    font-size: 1.4rem;
    font-weight: 550;
    color: white;
    text-transform: uppercase;
    letter-spacing: .075em;
    margin-bottom: 0;
}

.h-line, .n-line, .m-line {
    width: 18%;
    border-top: 2px solid #fa6800;
    margin: 0;
}

.n-line {
    border-top: 1px solid rgb(68, 68, 68);
}

.m-line {
    border-top: 1px solid rgb(207, 206, 206);
}

.about-text {
    font-family: 'Questrial', sans-serif;
    color: #4e4e4e;
    font-size: 1.15rem;
    font-weight: 550;
    text-align: justify;
}

.l-graphic {
    width: 100%;
}

.us {
    padding: 5rem 0 4rem 0;
    background-color: #232323;
}

.mt-6, .mt-lg-6 {
    margin-top: 4rem;
}

.unit {
    text-align: center;
}

.unit-icon {
    width: 9rem;
}

.words {
    font-family: 'Questrial', sans-serif;
    color: grey;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.45rem;
}

/* Services */

#services {
    padding: 6rem 0 7rem 0;
}

.mt-7 {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mt-11 {
    margin-top: 10rem;
}

.card-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.s-image {
    width: 60%;
}

.px-xl-6 {
    padding-left: 4.5rem;
    padding-right: 3rem;
}

.pr-xl-6 {
    padding-right: 4.5rem;
}

.pl-xl-6 {
    padding-left: 4.5rem;
}

/* Partners */

#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.phw, .pw {
    background-color: #232323;
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pw {
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    padding: 2rem;
}

.partner-logo {
    width: 85%;
}

/* Portfolio */

#portfolio {
    padding: 6rem 0 7rem 0;
    background-color: whitesmoke;
}

.pi-card {
    position: relative;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.p-thumbnail {
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fa6800d0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.pi-card:hover .overlay {
    height: 100%;
}

.pi-text {
    white-space: nowrap;
    color: white;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.pi-heading {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
}

/* Blog */

#blog {
    padding: 6rem 0 8rem 0;
    background-color: #505050;
}

/* Contact */

#contact {
    padding: 6rem 0;
}

.caption {
    font-family: 'Arimo', sans-serif;
    font-size: 1.15rem;
    text-transform: capitalize;
    color: #fa6800;
}

.text3 {
    font-family: 'Questrial', sans-serif;
    font-size: .95rem;
    color: #4e4d4d;
}

.material-icons {
    font-size: 30px !important;
    color: #232323;
    position: relative;
}

.fab, .fas {
    font-size: 1.65rem !important;
}

.icon-link {
    color: #232323 !important;
    text-decoration: none !important;
    text-align: center;
}

.ring {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-color: #d4d9df;
}

.icon-link:hover {
    color: #fa6800 !important;
}

/* Footer */

.footer {
    background-color: #232323;
    padding: 1.5rem;
    text-align: center
}

.info {
    font-family: 'Arimo', sans-serif;
    font-size: .95rem;
    color: wheat;
}